body {
    padding-top: 70px;
}

/*
    CSS Loading indicator
*/

.loading {
    min-width: 300px;
}

    .loading:after {
        overflow: hidden;
        display: inline-block;
        vertical-align: bottom;
        -webkit-animation: ellipsis steps(4,end) 900ms infinite;
        animation: ellipsis steps(4,end) 900ms infinite;
        content: "\2026"; /* ascii code for the ellipsis character */
        width: 0px;
    }

#divGallery h5 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: smaller;
}

@keyframes ellipsis {
    to {
        width: 20px;
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 20px;
    }
}
